html , body{
    margin: 0px;
    height: 100%;
}
body{
    background-color: #f6f6e9;
}
.top{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "header"
    "navbar"
    "decription"
    "footer";
}
header{
    grid-area: "header";
    font-size: 1.2em;
    padding-left: 3.7em;
}
#fst{
    color: #7b3911;
}
h1{
    color: #7b3911;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
}
#navbar{
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -5px;
}
#home , #about , #product , #contact{
    margin-right: 4.5em;
    color: #7b3911;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.top_main{
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    grid-column-gap: 40%;
}
.title_description_button{
    padding-left: 3.0em;
    padding-top: 2.1em;
}
.title{
    font-size: 25px;
    padding-left: 20px;
    color: #7b3911;
}
.description{
    font-size: 2.0vh;
    padding-left: 20px;
    color: #7b3911;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif;
}
.button{
    display: block;
}
.button div{
    width: 10%;
    height: 40px;
    margin-top: 20px;
    font-family:"Open Sans" ,Georgia, 'Times New Roman', Times, serif;
}
.button .first{
    background-color: #844a22;
    position: absolute;
    z-index: 2;
    margin-left: 60px;
    left: 10px;
    cursor: pointer;
    box-shadow: 7px 10px #dc661f;
}
.button .first p{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.product_img{
    margin-bottom: 10px;
}
img{
     display: block;
     max-width: 100%;
     width: 55%;
     height: auto;
     padding-top: 10px;
 }
 .top_end{
   display: flex;
   flex-direction: row;
    background-color: #7b3911;
    width: 100%;
    height: 30vh;
    color: white;
    margin-top: 5%;
    grid-area: footer;
}
.first1 , .secound1 , .third1{
  margin: 0px 15px 5px 55px;
  padding: 10px 5px 5px 10px;
  font-family: "Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
}
.mid{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "header"
    "decription"
    "footer";
    background-color: #3b5704;
}
.mid_header{
    grid-area: header;
}
#heading{
    text-align: center;
    margin-top: 5%;
    font-size: 19.7px;
    color:#edffcc;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif;
}
#sub_heading{
    text-align: center;
    font-size: 45px;
    color: #81b622;
    font-family: "Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
}
.mid_main{
    display: grid;
    grid-template-columns: repeat(3, 2.5fr);
    grid-area:decription;
}
.des_one , .des_two {
    margin-left: 10.5em;
}
#description_img_only{
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-left: 18px;
}
#des_main_one{
    font-size: 22.5px;
    color: #edffcc;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif ;
}
#des_one{
    font-size: 13.9px;
    color: #edffcc;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif ;

}
#des_main_two{
    font-size: 22.5px;
    color: #edffcc;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif ;
}
#des_two{
    font-size: 13.9px;
    color: #edffcc;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif ;
}
#des_main_three{
    font-size: 22.5px;
    color: #edffcc;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif ;
}
#des_three{
    font-size: 13.9px;
    color: #edffcc;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif ; 
}
#des_main_four , #des_main_five, #des_main_six{
    font-size: 22.5px;
    color: #edffcc;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif ;
}
#des_four, #des_five, #des_six{
    font-size: 13.9px;
    color: #edffcc;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif ; 
}
.product{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "header"
    "decription"
    "footer";
    background-color: white;
}
.product_bars{
    display: grid;
    grid-template-columns: repeat(2, 14.5fr);
    
}

.product_heading p{
    display: block;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif;
    font-size: 19.7px;
    padding-left: 8.1em;
}
#p2{
    font-size: 35px;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
    padding-left: 10.0rem;
    margin-top: -10px;
    grid-area: header;
}
.product_button{
    display: block;
    margin-left: 75%;
    margin-top: 2%;
    font-family:"Open Sans" ,Georgia, 'Times New Roman', Times, serif;
    font-size: 21.2px;
    background-color: #f2a154;
    position: absolute;
    cursor: pointer;
    box-shadow: 9px 17px #292929;
    height: 8%;
    width: 13%;
}
.bttn{
    text-align: center;
    padding-top: 10px;
    padding-left: -1px;
    color: white;
}
.all_products{
    display: grid;
    grid-template-columns:repeat(3, 2.5fr);
    padding-left: 10%;
    padding-top: 9%;
}
#first_product_description{
    background-color: #e7e6e1;
    margin-right: 38%;
    margin-top: -4%;
    padding-bottom: 55%;
    margin-left: -3%;
    padding-left: 25%;
    padding-top: 10%;
}
#first_product_img{
    display: block;
    width: 40%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: -28%;
}
#p3 , #p4{
    margin-top: 70%;
    margin-bottom: -100%;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: -20%;
}
#secound_product_img{
    display: block;
    width: 40%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: -28%;
}
#secound_product_description{
    background-color: #314e52;
    margin-right: 38%;
    margin-top: -4%;
    padding-bottom: 57%;
    margin-left: -3%;
    padding-left: 25%;
    padding-top: 10%;
}
#p5 , #p6{
    margin-top: 70%;
    margin-bottom: -100%;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: -20%;
}
#third_product_img{
    display: block;
    width: 40%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: -28%;
}
#third_product_description{
    background-color: #e7e6e1;
    margin-right: 38%;
    margin-top: 10%;
    padding-bottom: 55.5%;
    margin-left: -3%;
    padding-left: 25%;
    padding-top: 10%;
}
#p7 , #p8{
    margin-top: 70%;
    margin-bottom: -100%;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: -20%;
}
/*
header p{
    padding-left: 20px;
}
#fst{
    color: #7b3911;
}
h1{
    color: #7b3911;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
}
.top{
    display: grid;
    height: 100%;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 100px;
}
#home , #about , #product ,  #contact{
    margin-right: 40px;
    color: #7b3911;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.top_main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40%;
    margin-bottom: 3.1%;
}
.title_description_button{
    margin-top: 10px;
    margin-right: 35px;
}
.title{
    font-size: 25px;
    padding-left: 20px;
    margin-bottom: -10px;
}
.description{
    font-size: 2.0vh;
    padding-left: 20px;
    padding-top: -18px;
    color: #7b3911;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif;
}
.top_button_product_img{
    padding-left: 20px;
    padding-top: 10px;
}
.button{
    display: block;
}
.button div{
    width: 10%;
    height: 40px;
    margin-top: 20px;
    font-family:"Open Sans" ,Georgia, 'Times New Roman', Times, serif;
}
.button .first{
    background-color: #844a22;
    position: absolute;
    z-index: 2;
    margin-left: 20px;
    left: 10px;
    cursor: pointer;
    box-shadow: 7px 10px #dc661f;
}
.button .secound {
    background-color: #dc661f;
    position: absolute;
    left: 40px;
    top: 310px;
    
}
.button .first p{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.product_img{
   margin-bottom: 10px;
}
img{
    display: block;
    max-width: 100%;
    width: 55%;
    height: auto;
    padding-top: 10px;
    
  
}
.top_end{
    display: flex;
    flex-direction: row;
    background-color: #7b3911;
    width: 100%;
    height: auto;
    color: white;
    margin-bottom: 2%;
    margin-top: 5%;
}
.first1 , .secound1 , .third1{
  margin: 0px 15px 5px 55px;
  padding: 10px 5px 5px 10px;
  font-family: "Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
}*/

