html , body{
    margin: 0px;
    height: 100%;
}
body{
    background-color: #f6f6e9;
}
.top{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "header"
    "navbar"
    "decription"
    "footer";
}
header{
    grid-area: "header";
    font-size: 1.2em;
    padding-left: 3.7em;
}
#fst{
    color: #7b3911;
}
h1{
    color: #7b3911;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
}
#navbar{
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -5px;
}
#home , #about , #product , #contact{
    margin-right: 4.5em;
    color: #7b3911;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.top_main{
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    grid-column-gap: 40%;
}
.title_description_button{
    padding-left: 3.0em;
    padding-top: 2.1em;
}
.title{
    font-size: 25px;
    padding-left: 20px;
    color: #7b3911;
}
.description{
    font-size: 2.0vh;
    padding-left: 20px;
    color: #7b3911;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif;
}
.button{
    display: block;
}
.button div{
    width: 10%;
    height: 40px;
    margin-top: 20px;
    font-family:"Open Sans" ,Georgia, 'Times New Roman', Times, serif;
}
.button .first{
    background-color: #844a22;
    position: absolute;
    z-index: 2;
    margin-left: 60px;
    left: 10px;
    cursor: pointer;
    box-shadow: 7px 10px #dc661f;
}
.button .first p{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.product_img{
    margin-bottom: 10px;
}
img{
     display: block;
     max-width: 100%;
     width: 55%;
     height: auto;
     padding-top: 10px;
 }
 .top_end{
   display: flex;
   flex-direction: row;
    background-color: #7b3911;
    width: 100%;
    height: 30vh;
    color: white;
    margin-top: 5%;
    grid-area: footer;
}
.first1 , .secound1 , .third1{
  margin: 0px 15px 5px 55px;
  padding: 10px 5px 5px 10px;
  font-family: "Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
}
.mid{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "header"
    "decription"
    "footer";
    background-color: #3b5704;
}
.mid_header{
    grid-area: header;
}
#heading{
    text-align: center;
    margin-top: 5%;
    font-size: 19.7px;
    color:#edffcc;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif;
}
#sub_heading{
    text-align: center;
    font-size: 45px;
    color: #81b622;
    font-family: "Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
}
.mid_main{
    display: grid;
    grid-template-columns: repeat(3, 2.5fr);
    grid-area:decription;
}
.des_one , .des_two {
    margin-left: 10.5em;
}
#description_img_only{
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-left: 18px;
}
#des_main_one{
    font-size: 22.5px;
    color: #edffcc;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif ;
}
#des_one{
    font-size: 13.9px;
    color: #edffcc;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif ;

}
#des_main_two{
    font-size: 22.5px;
    color: #edffcc;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif ;
}
#des_two{
    font-size: 13.9px;
    color: #edffcc;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif ;
}
#des_main_three{
    font-size: 22.5px;
    color: #edffcc;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif ;
}
#des_three{
    font-size: 13.9px;
    color: #edffcc;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif ; 
}
#des_main_four , #des_main_five, #des_main_six{
    font-size: 22.5px;
    color: #edffcc;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif ;
}
#des_four, #des_five, #des_six{
    font-size: 13.9px;
    color: #edffcc;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif ; 
}
.product{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "header"
    "decription"
    "footer";
    background-color: white;
}
.product_bars{
    display: grid;
    grid-template-columns: repeat(2, 14.5fr);
    
}

.product_heading p{
    display: block;
    font-family:"Nunito Sans" , Georgia, 'Times New Roman', Times, serif;
    font-size: 19.7px;
    padding-left: 8.1em;
}
#p2{
    font-size: 35px;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
    padding-left: 10.0rem;
    margin-top: -10px;
    grid-area: header;
}
.product_button{
    display: block;
    margin-left: 75%;
    margin-top: 2%;
    font-family:"Open Sans" ,Georgia, 'Times New Roman', Times, serif;
    font-size: 21.2px;
    background-color: #f2a154;
    position: absolute;
    cursor: pointer;
    box-shadow: 9px 17px #292929;
    height: 8%;
    width: 13%;
}
.bttn{
    text-align: center;
    padding-top: 10px;
    padding-left: -1px;
    color: white;
}
.all_products{
    display: grid;
    grid-template-columns:repeat(3, 2.5fr);
    padding-left: 10%;
    padding-top: 9%;
}
#first_product_description{
    background-color: #e7e6e1;
    margin-right: 38%;
    margin-top: -4%;
    padding-bottom: 50%;
    margin-left: -3%;
    padding-left: 25%;
    padding-top: 10%;
}
#first_product_img{
    display: block;
    width: 40%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: -28%;
}
#p3 , #p4{
    margin-top: 70%;
    margin-bottom: -100%;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: -20%;
}
#secound_product_img{
    display: block;
    width: 40%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: -28%;
}
#secound_product_description{
    background-color: #314e52;
    margin-right: 38%;
    margin-top: -4%;
    padding-bottom: 52%;
    margin-left: -3%;
    padding-left: 25%;
    padding-top: 10%;
}
#p5 , #p6{
    margin-top: 70%;
    margin-bottom: -100%;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: -20%;
    color: white;
}
#third_product_img{
    display: block;
    width: 40%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: -28%;
}
#third_product_description{
    background-color: #e7e6e1;
    margin-right: 38%;
    margin-top: 10%;
    padding-bottom: 50.5%;
    margin-left: -3%;
    padding-left: 25%;
    padding-top: 10%;
}
#p7 , #p8{
    margin-top: 70%;
    margin-bottom: -100%;
    font-family:"Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: -20%;
}
.contact{
    height: 95vh;
    width: 100%;
    background-color:white;
    border: 1px solid white;
}
.outer{
    margin-top: 1%;
    display: block;
    height: 50vh;
    width: 100%;
    background-color: #314e52;
}
.contact_handing h2{
    text-align: center;
    padding-top: 4%;
    font-size: 45px;
    color: white;
    font-family: "Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
}
.button3{
    text-align: center;
    margin-top: 3%;
}
#button3a{
    display: block;
    margin-left: 40%;
    margin-top: 1%;
    font-family:"Open Sans" ,Georgia, 'Times New Roman', Times, serif;
    font-size: 18.2px;
    background-color: #f2a154;
    position: absolute;
    cursor: pointer;
    box-shadow: 9px 17px #292929;
    height: 8%;
    width: 13%;
}
#button3a p{
    padding-right: 40%;
}
.outer2{
    height: 35vh;
    display: grid;
    grid-template-columns: repeat(4, 2.5fr);
}
.outer2_a{
    margin-top: 10%;
    margin-bottom: 2%;
}
#outer2_a_sub_heading_1{
    margin-bottom: 10%;
    font-family: "Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
    font-size: 20.1px;
    padding-left: 2%;
    font-weight: bold;
}
#outer2_a_sub_description_1{
    font-size: 15.7px;
    padding-left: 2%;
    font-family: "Raleway" , Georgia, 'Times New Roman', Times, serif;
}
.outer2_b{
    margin-top: 10%;
    margin-bottom: 2%;
    color: black;
}
#outer2_b_sub_heading_2{
    margin-bottom: 10%;
    font-family: "Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
    font-size: 20.1px;
    padding-left: 2%;
    font-weight:bold ;
}
.outer2_b table {
    padding-left: 1%;
    font-family:"Raleway" , Georgia, 'Times New Roman', Times, serif ;
}
#span{
    padding-left: 6px;
}
td{
   padding: 5px 0px 5px 0px;
}
.outer2_c{
    margin-top: 10%;
    margin-bottom: 2%;
    color: black;
}
#outer2_c_sub_heading_3{
    margin-bottom: 6%;
    font-family: "Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
    font-size: 20.1px;
    padding-left: 2%;
    font-weight: bold;
}
#secd_table{
    padding-left: 3%;
    font-family: "Raleway" , Georgia, 'Times New Roman', Times, serif;
}
.outer2_d{
    margin-top: 10%;
    margin-bottom: 2%;
    color: black;
}
#outer2_d_sub_heading_4{
    margin-bottom: 6%;
    font-family: "Crimpson Pro" , Georgia, 'Times New Roman', Times, serif;
    font-size: 20.1px;
    padding-left: 2%;
    font-weight: bold;
}
.outer_2_d_description{
    font-size: 15.7px;
    padding-left: 2%;
    font-family: "Raleway" , Georgia, 'Times New Roman', Times, serif;
}
#third_table{
    margin-top: 2%;
    padding-left: 2%;
}
[type= "email"]{
    display: block;
    height: 30px;
    width: 90%;
    margin-right: 2px;
    padding-left: 10px;
}
button{
    width: 105%;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 3px;
    background-color: #f2a154;
    color: white;
    cursor: pointer;
}

